.images{
    margin-left: 25%;
    margin-right: 1%;
    border-radius: 5px;
    
}

/*REMERAS*/

.imagenes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 100px 100px;
    column-gap: 10px;
    row-gap: 05px;
    justify-items: map-get($displays , justifyitems);
    overflow: hidden;
}
.img{
    height: 300px;
    width: 250px;
    transition: all 0.5s ease-in-out;
}
&:hover{
    width: 280px;
    height: 330px;
}
.galeria{
    margin: 01px map-get($color , terciary);
}
.titulos{
    display: map-get($displays , displayflowroot );
    margin: 50px 50px;

}
.titulo{
    margin-bottom: 30px;
}

/*REgistrate y inicio*/
.h1{
    @extend %margin;
    font-size: 36px;
   
}
.h3{
   @extend %margin;
}
.flex-container{
    display: map-get($displays , footerdisplay );
    align-items: map-get($displays , justifyitems);
    flex-wrap: map-get($displays, flexwrap);
    justify-content: map-get($displays , justifycenter );
    background-color: map-get($color, terciary );
    margin: 30px;
}

.form{
    min-width: 100px;
    flex: 01;
    text-align: map-get($displays , justifyitems );
    padding: 30px;
}
.form__input{
    text-align: map-get($displays , justifyitems );
    width: 100%;
    padding: 07px;
    margin: 06px 0;
    border: none;
    border-bottom: 03px solid map-get($color , primary);
    background: transparent;
}
.form input[type="submit"]{
    background-color: map-get($color, primary );
    border-bottom: none;
    padding: 12px;
}
p{
    text-align: map-get($displays , justifyitems );
    color:map-get($color , terciary );
    margin: 30px;
}
/*quienes somos*/
.nosotros{
    @include nosotros( $margintop: 20px, $marginleft: 300px, $marginbottom: 50px, $marginright: 300px){
    width: 60%;
    height: 100%; 
    }

    @media screen and (max-width: 896px) {
    /* Menu */
    .listas {
      flex-direction: column;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      align-items: map-get($displays, justifyitems );
      background-color: map-get($color , primary);
      height: 100%;
      overflow-y: map-get($margin , marginauto);
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s;
    }
  
    .images{
      width: 10% ;
      height: 100px;
         
    }
    .main {
      display: block;
      border: none;
      background: none;
      cursor: pointer;
    }
    }
}    