$borders: (


);

$displays: (
    footerdisplay: flex,
    flexwrap: wrap,
    displayJustify: space-between,

    
);


$margin: (
 marginauto: auto,


);

$background-color: (
    footerbackground-color: #000000

);

$font-size: (
 

);

$color:(
    primary: rgb(255, 255, 255),
    secundary: #7a7a7a,


)
