
$displays: (
    footerdisplay: flex,
    flexwrap: wrap,
    displayJustify: space-between,
    displayflowroot: flow-root,
    justifycenter: center,
    justifyitems: center,

    
);

$margin: (
 marginauto: auto,
);

$background-color: (
    footerbackground-color: #000000

);

$color:(
    primary: rgb(255, 255, 255),
    secundary: #7a7a7a,
    terciary: #000000,


)
